.recipe-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Needed for positioning the delete button */
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card-emoji {
  font-size: 3rem;
  margin-bottom: 15px;
  background: #fff0f0;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.recipe-card h3 {
  margin: 0 0 15px 0;
  color: #333;
  font-size: 1.2rem;
}

.view-btn {
  margin-top: auto;
  color: #ff6b6b;
  font-weight: bold;
  font-size: 0.9rem;
}

.delete-btn-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  color: rgb(135, 135, 135);
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  transition: color 0.2s;
  z-index: 2;
}

.delete-btn-overlay:hover {
  background-color: white;
  color: #ff6b6b;
  border-color: white;
}